body {
  background-image: linear-gradient(to right, #ffefba, #ffffff);
  color: rgb(137, 138, 50);
  font-size: 25px;
}
.title {
  font-size: 100px;
  text-align: center;
  color: rgb(3, 66, 91);
  animation-duration: 3s;
  animation-name: appear;
}
.flash {
  box-shadow: none;
  width: 10rem;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  /* background-color: rgb(251, 251, 251); */
  padding: 10px;
  box-shadow: 0px 4px 40px rgb(32, 51, 159);
  border-radius: 10px;
}
.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
ul {
    padding-right: 20px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline wavy white 1px;
}
li {
  padding: 20px;
  padding-left: 15px;
  font-size: 30px;
  padding-top: 0px;
  color: rgb(48, 85, 98);
}
li:hover {
  /* text-decoration: underline wavy red; */
  /* color: red; */
  scale: 1.2;
  text-shadow: 0px 3px 20px white;
  transition: 0.5s;

  /* transition:1s; */
}
h1,
h2 {
  color: rgb(63, 66, 68);
  /* text-align: center; */
  text-shadow: 0px 2px 20px white;
}
form {
  /* font-size: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-top: 0;
  width: 600px;
  height: 500px;
  text-align: center;
  /* background-color: #000091; */
  border-radius: 10px;
  box-shadow: 0px 2px 50px rgb(2, 154, 255);
}
label {
  /* font-size: 1000px; */
  color: rgb(238, 168, 4);
  /* text-align: center; */
  text-shadow: 0px 3px 20px white;
  font-size: 50px;
  margin: 10px;
}
input {
  background-image: linear-gradient(to right, #ffefba, #ffffff);
  color: rgb(137, 138, 50);
  /* background-color:#000091; */
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 50px;
  /* box-shadow: 0px 2px 20px #1d4e38; */
  font-size: 20px;
  width: 90%;
  margin: 10px;
}
/* form:hover {
  /* box-shadow: 0px 1px 20px rgb(113, 7, 234); */
/* scale: 1.1;
  transition: 1s; */
/* } */

button {
  background-color: #ffe695;
  text-align: center;
  font-size: 26px;
  color: rgb(137, 138, 50);
  border: none;
  color: rgb(6, 114, 131);
  height: 50px;
  width: 30%;
  border-radius: 30px;
  margin: 10px;
}
button:hover {
  background-color: #fff1c5;
  /* scale: 1.1; */
  transition: 0.5s;

  /* box-shadow: 0px 2px 50px rgb(2, 154, 255); */
}
.details {
    /* background-color: rgb(1, 5, 43); */
    /* box-shadow: 0px 2px 20px purple; */
    justify-content: center;
    /* color: #8f04f3; */
    /* justify-content: space-around; */
    /* border-radius: 20px; */
    display: flex;
    border-top: 0.25rem solid #f6d158;
    flex-direction: row;
    background-color: #f4dc8c;
}
.details img {
  box-shadow: none;
}
p {
  width: 25%;
  margin: 10px;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  form {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  h1 {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  nav {
    margin-bottom: 80px;
  }
  .details {
    /* flex-direction: column; */
    margin-top: 120px;
  }
}
@media (max-width: 768px) {
  .jee {
    width: 100%;
    left: 0;
    /* padding-left: 20em; */
  }
  .center:hover .jee {
    padding-right: 0;
    scale: 1;
  }
  .center:hover .text {
    /* height: 200px; */
    width: 200px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 50px;
  }
  /* ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } */
  li {
    padding-left: 0px;
  }
}
.github,
.linkedin,
.insta {
  height: 50px;
  width: 50px;
  margin: 20px;
}
.gmail {
  height: 50px;
  width: 40px;
  margin: 20px;
}
.linkedin{
  width: 61px;
  margin: 15px;
}
.details .gmail:hover{
    border-radius: 0;
}
@keyframes appear {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}
.center:hover .jee {
  /* position: static; */
  left: 0;
  transition: 1s;
}
.jee {
  position: relative;
  /* left: 10em; */
  transition: 1s;
}
.center:hover .text {
  scale: 1;
  transition: 1s;
}
.text {
  scale: 0;
  transition: 1s;
}
.details img:hover {
  box-shadow: 0px 2px 20px rgb(2, 154, 255);
  transition: 0.5s;
  border-radius: 50%;
  padding: 5px;
}
.fl {
  padding-left: 0px;
}
.send {
  height: 25px;
  width: 30px;
}
.contact {
  padding-top: 0;
  margin: 0;
}
.linkedin:hover{
  padding-left: 0px;
  padding-right: 0;
}