body {
  background-image: linear-gradient(to right, #ffefba, #ffffff);
  color: rgb(137, 138, 50);
  font-size: 2rem;
  font-family: "Montserrat", Roboto;
}
.flash {
  box-shadow: none;
  width: 10rem;
}
.photo img:hover{
  box-shadow: 0.5rem 0.5rem 1.313rem rgb(144 202 241);
  /* animation: appear; */
  transition: 0.5s;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 2rem;
  box-shadow: 0rem 0.25rem 2.5rem rgb(32, 51, 159);
  border-radius: 2rem;
}
nav .hamburger-lay {
  display: flex;
  justify-content: start;
}
nav .hamburger-lay .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: start;
}
nav .hamburger-lay input {
  visibility: hidden;
}

nav .hamburger-lay .hamburger .bar {
  width: 1.563rem;
  height: 0.188rem;
  margin: 0.25rem 0;
  background-color: rgb(0, 0, 0);
}
ul {
  transition-delay: 2s;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}
nav {
  align-items: flex-start;
  text-align: start;
}
a {
  text-decoration: none;
}

li {
  padding-right: 2rem;
  padding-left: 0rem;
  font-size: 2rem;
  padding-top: 0;
  color: rgb(48, 85, 98);
}
li:hover {
  scale: 1.2;
  text-shadow: 0 0.188rem 1.25rem white;
  transition: 0.5s;
}
.photo {
  margin: 5rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0.625rem 0.625rem 2.938rem rgb(221 204 244);
}

h1,
h2 {
  color: rgb(6 31 50);
  margin-left: 0rem;
  text-align: center;
  text-shadow: 0 0.125rem 0.625rem white;
  font-size: 2rem;
  animation: appear;
  animation-duration: 2s;
}
.hh{
  color: rgb(6 31 50);
  text-align: center;
  text-shadow: 0 0.125rem 0.625rem white;
  font-size: 2rem;
  animation: appear;
  animation-duration: 2s;
  margin-left: 1rem;
}
.photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
p {
  margin: 2rem;
  /* padding: 5rem; */
  text-align: left;
}
.text h1 {
  margin-left: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.3rem;
  color: rgb(6 31 50);
  transition: 1s;
}

.nov {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.3rem;
  color: rgb(6 31 50);
  transition: 1s;
  margin-left: 0;
}
.nov2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.3rem;
  color: rgb(6 31 50);
  transition: 1s;
  margin-left: 1rem;
}

.me {
  width: 26rem;
  left: 36%;
  transition: 1s;
  margin: 0.625rem;
}
.jee {
  height: 20rem;
  width: 32rem;
  transition: 1s;
}
.sds {
  width: 20rem;
  transition: 1s;
  margin: 0.625rem;
  margin-top: 4rem;
}
.tl {
  height: 20rem;
  width: 19rem;
  transition: 1s;
}
.mira {
  height: 29rem;
  width: 21rem;
  transition: 1s;
  margin: 0.625rem;
}
.paac {
  height: 20rem;
  width: 20rem;
  transition: 1s;
}
.fl {
  padding-left: 0;
}
.mirify {
  height: 20rem;
  width: 28rem;
  transition: 1s;
}
.torque {
  height: 20rem;
  width: 20rem;
  transition: 1s;
}
.mera-safar {
  height: 20rem;
  width: 32rem;
  transition: 1s;
}
.details {
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  border-top: 0.25rem solid #f6d158;
  flex-direction: row;
  background-color: #f4dc8c;
}
@keyframes appear {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@keyframes navcome {
  0% {
    display: none;
  }
  100% {
    display: flex;
  }
}
.github,
.insta {
  height: 4.5rem;
  width: 4.5rem;
  margin: 2rem;
}
.gmail {
  height: 5rem;
  width: 4.5rem;
  margin: 2rem;
}

.linkedin {
  height: 5rem;
  width: 4rem;
  margin: 2rem;
}
.details img {
  box-shadow: none;
}

img {
  border-radius: 1.25rem;
}

.details img:hover {
  box-shadow: 0 0.125rem 1.25rem rgb(2, 154, 255);
  transition: 0.5s;
  border-radius: 50%;
  padding: 0.5rem;
}

@media (max-width: 61.875rem) {
  body {
    text-align: center;
  }
  .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .me {
    left: 0;
  }
  .sds {
    left: 0;
  }
  .tl {
    left: 0;
  }
  .paac {
    left: 0;
  }
  .mira {
    left: 0;
  }
  .mirify {
    left: 0;
  }
  .torque {
    left: 0;
  }
  .mera-safar {
    left: 0;
  }
  .jee {
    left: 0;
  }
}
@media (max-width: 50.5rem) {
  nav {
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0rem 0.25rem 2.5rem rgb(32, 51, 159);
    border-radius: 2rem;
  }
  li {
    padding-bottom: 1rem;
  }
  nav .hamburger-lay .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: start;
  }
  nav .hamburger-lay input {
    visibility: hidden;
  }
  nav .hamburger-lay {
    display: flex;
    justify-content: space-between;
  }
  nav .hamburger-lay .hamburger .bar {
    width: 1.563rem;
    height: 0.188rem;
    margin: 0.25rem 0;
    background-color: rgb(0, 0, 0);
  }
  ul {
    transition-delay: 2s;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    align-items: start;
    scale: 0;
    transition: 0.5s;
    max-height: 0;
  }
  nav {
    align-items: center;
    text-align: start;
  }
  .hamburger-lay #menu-toggle:checked ~ ul {
    transition: 0.5s;
    scale: 1;
    max-height: 100%;
  }

  nav {
    margin: 1rem;
  }
  .text {
    font-size: 0.938rem;
    padding: 0;
    margin: 1rem;
  }
  .photo {
    padding: 0;
  }
  h1,
  h2 {
    font-size: 1.875rem;
    animation: appear;
    animation-duration: 2s;
  }
}
@media (max-width: 37.5rem) {
  .text {
    font-size: 10px;
  }
  .details {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tl {
    height: 4em;
    width: 10rem;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .sds {
    height: 4em;
    width: 20rem;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mira {
    height: 10em;
    width: 12rem;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .me {
    height: 20rem;
    width: 15rem;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mirify,
  .jee,
  .mera-safar,
  .torque,
  .paac {
    height: 4em;
    width: 15rem;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  li {
    padding-left: 0;
  }
}
b {
  white-space: nowrap;
}
@media (max-width: 31.25rem) {
  .sds {
    height: 4em;
    width: 14rem;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  body {
    font-size: 1.5rem;
  }
  .github,
  .linkedin,
  .insta,
  .gmail {
    height: 2.25rem;
    width: 2.25rem;
    margin: 1rem;
  }
  .flash {
    width: 5rem;
  }
  li {
    font-size: 0.9rem;
    transition: 1s;
  }
}
